 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 821px;
}

.u-section-1 .u-text-1 {
  font-size: 15.625rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: none;
  margin: 91px auto 0 22px;
}

.u-section-1 .u-group-1 {
  width: 885px;
  min-height: 379px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 17px 0 59px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 20px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 3.75rem;
  margin: 0 12px 0 118px;
}

.u-section-1 .u-shape-1 {
  width: 65px;
  height: 65px;
  background-image: none;
  margin: -264px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: 216px 0 0 118px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-size: 12.5rem;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 9.375rem;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    margin-top: 117px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -165px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 117px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 312px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 129px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 131px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 21px 75px 22px 73px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 106px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 39px;
    margin-bottom: -45px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 2px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 359px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 38px;
    margin-bottom: 53px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  min-height: 1314px;
}

.u-section-3 .u-group-1 {
  height: auto;
  --bottom-left-radius: 50px;
  margin-top: 0;
  margin-bottom: 60px;
  min-height: 1248px;
}

.u-section-3 .u-container-layout-1 {
  padding: 73px 70px;
}

.u-section-3 .u-group-2 {
  width: 1054px;
  --radius: 60px;
  height: auto;
  min-height: 1263px;
  margin: 80px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 43px;
}

.u-section-3 .u-text-1 {
  margin: 59px 57px 0 0;
}

.u-section-3 .u-image-1 {
  width: 151px;
  height: 151px;
  margin: 137px 192px 0 auto;
}

.u-section-3 .u-text-2 {
  margin: -128px 380px 0 36px;
}

.u-section-3 .u-image-2 {
  width: 189px;
  height: 189px;
  margin: 99px 154px 0 auto;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: -174px 380px 0 36px;
}

.u-section-3 .u-text-4 {
  font-size: 1.875rem;
  margin: 126px 372px 0 44px;
}

.u-section-3 .u-image-3 {
  width: 159px;
  height: 159px;
  margin: -108px 184px 0 auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: cover, cover, contain;
  }

  .u-section-3 .u-group-1 {
    --radius: 50px;
    --top-left-radius: 50px;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    width: 800px;
    margin-top: -168px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 74px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 33px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
    margin-right: 162px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 91px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 162px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 162px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-3 .u-group-2 {
    width: 660px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 48px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 48px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-group-2 {
    width: 520px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-top: 127px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1916px;
  }

  .u-section-3 .u-group-1 {
    margin-bottom: 0;
    min-height: 1916px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-3 .u-group-2 {
    width: 360px;
    min-height: 1815px;
    margin-top: 45px;
    margin-right: auto;
    margin-bottom: -153px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 36px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 98px;
    margin-right: 149px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 143px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 26px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 296px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -369px;
    margin-right: auto;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 857px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 722px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 0 5px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 3.75rem;
  margin: 0 30px;
}

.u-section-4 .u-group-1 {
  min-height: 400px;
  height: auto;
  width: 502px;
  margin: 22px 30px 0 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 11px 0 0;
}

.u-section-4 .u-image-1 {
  min-height: 657px;
  background-image: url("images/109728834.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 615px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 595px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-image-1 {
    min-height: 542px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 765px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 3rem;
  }

  .u-section-4 .u-group-1 {
    width: 480px;
  }

  .u-section-4 .u-image-1 {
    min-height: 765px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1319px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -119px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 519px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-group-1 {
    min-height: 325px;
    margin-top: 55px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-image-1 {
    min-height: 680px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1206px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 136px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    min-height: 428px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 588px;
}

.u-section-5 .u-text-1 {
  font-size: 9.375rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 70px 0 0;
}

.u-section-5 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 60px;
  padding: 32px 101px 32px 100px;
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    font-size: 6rem;
    margin-top: 71px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 60px;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1023px;
}

.u-section-6 .u-text-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 70px auto 0 0;
}

.u-section-6 .u-list-1 {
  margin-top: 32px;
  margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
  grid-auto-columns: 100%;
  grid-template-columns: repeat(1, 100%);
  min-height: 785px;
  grid-gap: 10px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px 10px 30px;
}

.u-section-6 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 1px 324px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px 10px 30px;
}

.u-section-6 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 1px 324px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 10px 10px 30px;
}

.u-section-6 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 1px 324px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-6 .u-text-3 {
    width: 796px;
    margin-right: 124px;
  }

  .u-section-6 .u-text-5 {
    width: 796px;
    margin-right: 124px;
  }

  .u-section-6 .u-text-7 {
    width: 796px;
    margin-right: 124px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-3 {
    width: 700px;
    margin-right: 0;
  }

  .u-section-6 .u-text-5 {
    width: 700px;
    margin-right: 0;
  }

  .u-section-6 .u-text-7 {
    width: 700px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-3 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-6 .u-text-5 {
    width: 520px;
    font-size: 1rem;
  }

  .u-section-6 .u-text-7 {
    width: 520px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-3 {
    width: 320px;
  }

  .u-section-6 .u-text-5 {
    width: 320px;
  }

  .u-section-6 .u-text-7 {
    width: 320px;
  }
}