.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 160px 231px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin: 17px 231px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 10px 51px 10px 50px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: -42px auto 60px 327px;
  padding: 10px 54px 10px 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 31px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 31px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-left: 127px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }
} .u-section-2 {
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('images/Untitleddesign.jpg');
  background-size: cover, cover;
}

.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 63px 108px 0 21px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 493px 607px 0 21px;
}

.u-section-2 .u-text-3 {
  font-weight: 400;
  margin: 19px 183px 60px 21px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-1 {
    font-size: 5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 428px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 4px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 208px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 4rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 773px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 386px;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 26px;
    margin-bottom: 44px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/2.jpg');
  background-size: cover, cover;
}

.u-section-3 .u-sheet-1 {
  min-height: 738px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 508px 480px 0 28px;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  margin: 22px 176px 60px 28px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-right: 308px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 4px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 554px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 375px;
    margin-right: 88px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 17px;
    margin-right: 0;
    margin-bottom: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 416px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 60px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 262px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/5df93bf925d50.jpeg');
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
}

.u-section-4 .u-sheet-1 {
  min-height: 738px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 508px 480px 0 28px;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  margin: 22px 176px 60px 28px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 609px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-right: 308px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 4px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 547px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 368px;
    margin-right: 88px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-bottom: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 258px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 484px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 40px 22px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 1336px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-transform: uppercase;
  margin: 171px 77px 0;
}

.u-section-6 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 600;
  margin: 193px 345px 0 321px;
}

.u-section-6 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 600;
  margin: 99px 289px 0 264px;
}

.u-section-6 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 600;
  width: 674px;
  margin: 99px auto 0;
}

.u-section-6 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 600;
  margin: 99px 335px 60px 310px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
    width: 814px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 634px;
    margin-left: 32px;
    width: 474px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 189px;
    margin-left: 164px;
    width: 587px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 235px;
    margin-left: 210px;
    width: 495px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 204px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 159px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 100px;
    margin-left: 67px;
    margin-right: 67px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-top: 100px;
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-2 {
    margin-right: 365px;
    margin-left: 32px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    margin-right: 230px;
    width: 340px;
  }

  .u-section-6 .u-text-5 {
    width: 340px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-7 .u-line-1 {
  position: absolute;
  top: 432px;
  height: 203px;
  transform-origin: center top;
  left: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  right: 563px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 100px 198px 0 33px;
}

.u-section-7 .u-text-2 {
  font-weight: 400;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 23px 171px 0 33px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 251px 709px 0 144px;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -29px 108px 60px 716px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 31px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 609px;
    margin-left: 44px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 8px;
    margin-left: 616px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-line-1 {
    top: 443px;
    right: 353px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 283px;
    margin-right: 397px;
    margin-left: 36px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-right: 0;
    margin-left: 404px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-3 {
    margin-right: 253px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-top: 20px;
    margin-left: 224px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-line-1 {
    top: 479px;
    left: 157px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 263px;
    margin-right: 0;
    margin-left: 180px;
  }

  .u-section-7 .u-text-4 {
    margin-top: -58px;
    margin-right: 200px;
    margin-left: 0;
  }
}.welcometitle {
	font-size:2000px;
}